@page "/"

<PageTitle>Home</PageTitle>

<h1>AI Communications with SignalR</h1>

This app is designed to allow for muti-language organizations to communicate using the native language of the speaker.
